<div class="header">
    <h1>Burgs!</h1>
</div>
<div class="container" name="search">
    <form class="create-form">
        <h2>Enter your Burger Here</h2>
        <div class="container" name="head">
            <div class="form-group">
                <label for="bur">Burger Name:</label>
                <input type="text" id="bur" name="name">
            </div>
        </div>
        <div class="form-group">
            <label for="devoured">devoured?</label><br>
            <input type="radio" name="devoured" value="1" checked> Devoured!<br>
            <input type="radio" name="devoured" value="0">Ready to Eat!
        </div>

        <button type="submit">Add Burger</button>
    </form>
</div>

<h2 id="top">Burgers ready to eat!</h2>
<div class="row">
    <div class="column">
        <h2>Burgers Ready to Eat</h2>
        <ul>
            {{#each burgers}}
            <li>
                <p>Name: {{ burger_name }}</p>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="column">
        <h2>Devoured Burgers!</h2>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>